@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
}
